h1,
h2,
.h1, 
.h2 {
  margin-bottom: emRhythm(2);
}

h3, .h3,
h4, .h4 {
  margin-bottom: emRhythm(2);
}

p {
  max-width: none;
}

.lead {
  @extend h4;
  margin-bottom: emRhythm(5);
  font-weight: normal;
}

.caption {
  @extend h4;
  font-weight: normal;
  color: $color-text-secondary;
}

.mt-1 {
  margin-top: emRhythm(1);
}

.mt-2 {
  margin-top: emRhythm(2);
}

.mt-3 {
  margin-top: emRhythm(3);
}

.mt-4 {
  margin-top: emRhythm(4);
}

.mt-5 {
  margin-top: emRhythm(5);
}

.mt-8 {
  margin-top: emRhythm(8);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: emRhythm(1);
}

.mb-2 {
  margin-bottom: emRhythm(2);
}

.mb-3 {
  margin-bottom: emRhythm(3);
}

.mb-4 {
  margin-bottom: emRhythm(4);
}
