.section {
  padding: emRhythm(4) 0;

  @include mq(md) {
    padding: emRhythm(8) 0;
  }

  @include mq(lg) {
    padding: emRhythm(14) 0;
  }

  @include m(gray) {
    background-color: palette(gray-shades, light-20);
  }
}

.hr {
  border-top: 1px solid palette(gray-shades, dark-10);
}
